.mr-4 {
    margin-right: 4rem;
}

.badge-sm {
    font-size: 1rem;
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
    background-color: transparent;
    border-radius: 25%;
    margin-left:5px;
}